@use "sass:color";

@use "../common";
@use "../../styles/common" as common2;


.bearui-button {
    display: inline-block;
    box-sizing: border-box;
    height: 32px;
    padding: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    user-select: none;
    white-space: nowrap;
    border: 1px solid common.$default-border-color;
    border-radius: 4px;

    &:disabled {
        color: #fff;
        border-color: common.$disabled-color;
        background-color: common.$disabled-color;
        cursor: not-allowed;

        &.bearui-button-primary {
            border-color: common.$disabled-primary-color;
            background-color: common.$disabled-primary-color;
        }

        &.bearui-button-link,
        &.bearui-button-flat {
            border-color: transparent;
            background-color: transparent;
            color: common.$disabled-primary-color;
        }
    }

    &:not(:disabled) {
        color: common2.$default-font-color;
        background-color: #fff;
        cursor: pointer;
        transition: color 0.3s linear, border-color 0.3s linear,
            background-color 0.3s linear;

        &:hover {
            color: common.$primary-color;
            border-color: common.$primary-color;
        }

        &.bearui-button-primary {
            color: #fff;
            background-color: common.$primary-color;
            border-color: common.$primary-color;

            &:hover {
                color: #fff;
                border-color: color.scale(
                    common.$primary-color,
                    $lightness: common.$default-lighten-amount
                );
                background-color: color.scale(
                    common.$primary-color,
                    $lightness: common.$default-lighten-amount
                );
            }

            &:active {
                border-color: color.scale(
                    common.$primary-color,
                    $lightness: - common.$default-darken-amount
                );
                background-color: color.scale(
                    common.$primary-color,
                    $lightness: - common.$default-darken-amount
                );
            }
        }

        &.bearui-button-danger {
            color: #fff;
            background-color: common.$danger-color;
            border-color: common.$danger-color;

            &:hover {
                color: #fff;
                border-color: color.scale(
                    common.$danger-color,
                    $lightness: common.$default-lighten-amount
                );
                background-color: color.scale(
                    common.$danger-color,
                    $lightness: common.$default-lighten-amount
                );
            }

            &:active {
                border-color: color.scale(
                    common.$danger-color,
                    $lightness: - common.$default-darken-amount
                );
                background-color: color.scale(
                    common.$danger-color,
                    $lightness: - common.$default-darken-amount
                );
            }
        }

        &.bearui-button-flat,
        &.bearui-button-link {
            background-color: transparent;
            border-color: transparent;

            &:hover {
                border-color: common.$flat-color;
                background-color: common.$flat-color;
            }

            &:active {
                border-color: color.scale(
                    common.$flat-color,
                    $lightness: - common.$default-darken-amount
                );
                background-color: color.scale(
                    common.$flat-color,
                    $lightness: - common.$default-darken-amount
                );
            }
        }

        &.bearui-button-flat {
            &:hover,
            &:active {
                color: common2.$default-font-color;
            }
        }

        &.bearui-button-link {
            color: common.$link-color;

            &:hover {
                color: color.scale(
                    common.$link-color,
                    $lightness: common.$default-lighten-amount
                );
            }

            &:active {
                color: color.scale(
                    common.$link-color,
                    $lightness: - common.$default-darken-amount
                );
            }
        }
    }
}
