@use 'sass:color';

@import '../../styles/common';

.bearui-tabs {
    @at-root .bearui-tabs-panel {
        display: flex;
        border-bottom: 1px solid #e2e2e2;
        user-select: none;

        @at-root .bearui-tabs-label {
            @include flex-center;

            position: relative;
            min-width: 3em;
            height: 40px;
            padding: 0 8px;
            cursor: pointer;
            color: color.scale($default-link-color, $lightness: -35%);
            font-size: 1.125em;
            font-weight: 500;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 0;
                height: 3px;
                background: color.scale($default-block-bdcolor, $alpha: -36%);
                transition: all 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.125);
            }

            &.bearui-tabs-label-active {
                background-image:
                    linear-gradient(0deg,
                        color.scale($default-block-bdcolor, $alpha: -95%) 0,
                        transparent 100%);

                &::after {
                    left: 0;
                    width: 100%;
                }
            }
        }
    }

    @at-root .bearui-tabs-content {
        padding: 1em;

        @media (max-width: 600px) {
            padding: 0.4em;
        }
    }
}