.oritech-calculator {
    border-collapse: collapse;

    td {
        border: 1px solid #aaa;
        text-align: center;
        padding: 4px;
    }

    .highlight {
        background-color: rgba(127, 127, 127, 20%);
        font-weight: bold;
    }
}
