@import "../../../styles/common";

.gadget-codezone {
    position: relative;

    .gadget-copycode {
        display: none; // 初始不显示按钮
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 2px;
        right: 2px;
        padding: 3px;
        border: 1px solid #cacaca;
        border-radius: 3px;
        overflow: hidden;
        cursor: pointer;
        background-color: #f6f8fa;
        transition: all 0.2s ease-out;

        .copy-icon {
            width: 16px;
            height: 16px;
        }

        &:active {
            background-color: #fdfeff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 34%);
        }
    }

    // 悬浮于代码块时显示按钮
    &:hover {
        .gadget-copycode {
            display: flex;
        }
    }

    .gadget-codehighlight {
        @include default-scrollbar;

        margin: 0;
        padding: 0.3em !important;
        border-radius: 3px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 12%);

        > code {
            white-space: pre-wrap !important;
            word-break: break-word;
        }
    }
}
