@use "sass:color";

@import "./common";

a {
    color: #2a4a8f;

    &:hover {
        color: color.scale(#2a4a8f, $lightness: 15%);
    }

    &:active {
        color: #b00;
    }
}

article {
    /* 各级标题
    ------------------------------ */
    h1 {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 0.2em 0 0;
        font-size: 1.75em;
        height: 40px;
        color: #1f3668;
        border-bottom: 2px inset #abb8e8;
        font-family: "Times New Roman", Times, "思源宋体", "Source Han Serif",
            "Source Han Serif SC", sans-serif;
    }

    p {
        margin: 0.3125em 0;
    }

    a {
        &,
        &:visited {
            color: $default-link-color;
        }

        &:active {
            text-decoration: underline dashed;
        }
    }

    hr {
        border: none;
        border-top: 1px solid #bbb;
        margin: 8px 0;
    }

    ul {
        margin: 0.6em 0;
        padding: 0 0 0 1.5em;

        li {
            margin: 0 0 0.12em;
        }

        ul {
            margin: 0.2em 0;
        }
    }

    code,
    pre {
        font-family: Consolas, "jetbrains mono", monospace;
    }

    code {
        margin: 0 0.125em;
        padding: 0.1em 0.175em;
        border: 1px solid #bbb;
        border-radius: 0.15em;
        box-shadow: inset 0 0 0.4em
            color.scale($default-button-hover-bgcolor, $lightness: 25%);
    }
}
