@use "sass:color";

@use "common";

a {
    color: #2a4a8f;

    &:hover {
        color: color.scale(#2a4a8f, $lightness: 15%);
    }

    &:active {
        color: #b00;
    }
}

#article-base {
    .loading-icon {
        width: 40%;
        max-width: 540px;

        @include common.transform-center;
    }

    /* 各级标题
    ------------------------------ */
    h1 {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 0.2em 0 0;
        font-size: 1.75em;
        height: 40px;
        color: #1f3668;
        border-bottom: 2px inset #abb8e8;
        font-family: "Times New Roman", Times, "思源宋体", "Source Han Serif",
            "Source Han Serif SC", sans-serif;
    }

    h2 {
        margin: 0.7em 0 0.3em;
    }

    h3 {
        margin: 0.7em 0 0.2em;
    }

    p {
        margin: 0.3125em 0;
    }

    a {
        &,
        &:visited {
            color: common.$default-link-color;
        }

        &:active {
            text-decoration: underline dashed;
        }
    }

    hr {
        border: none;
        border-top: 1px solid #bbb;
        margin: 8px 0;
    }

    ul {
        margin: 0.6em 0;
        padding: 0 0 0 1.5em;
        list-style: circle;

        li {
            margin: 0 0 0.12em;
        }

        ul {
            margin: 0.2em 0;
        }
    }
}
