@use "sass:math";
@use "sass:color";

@import "./common";

/* 菜单链接
------------------------------ */
.menu-list {
    $border-radius-inner: math.div($default-border-radius, math.div(5, 3));
    $border-radius-outer: math.div($default-border-radius, math.div(4, 3));

    margin: 0;
    padding: 0;
    list-style: none;

    ul {
        list-style: none;
        padding-left: 0;
        margin-left: 1.2em;

        a {
            border-radius: 0 $border-radius-inner $border-radius-inner 0;
        }
    }

    a {
        display: flex;
        align-items: center;
        padding: 2px 6px;
        height: 28px;
        text-decoration: none;
        color: inherit;
        border: 1px solid transparent;
        border-radius: $border-radius-inner;
        transition: all linear 0.32s;

        &:active,
        &:hover {
            color: inherit;
        }

        &.router-link {
            &.active {
                background-color: color.scale(
                    $default-button-hover-bgcolor,
                    $lightness: 40%
                );
                pointer-events: none;
            }

            &:active {
                background-color: color.scale(
                    $default-button-hover-bgcolor,
                    $lightness: 34%
                );
                border-color: color.scale(
                    $default-button-active-bdcolor,
                    $lightness: 45%
                );
            }

            &:hover {
                background-color: $default-button-hover-bgcolor;
            }
        }
    }
}

.menu-folder {
    .menu-folder-label {
        display: flex;
        align-items: center;
        column-gap: 4px;
        cursor: pointer;
        user-select: none;

        .menu-folder-icon {
            transition: transform $default-transition-duration ease-out;
        }

        &:hover {
            background-color: color.adjust(
                $default-button-hover-bgcolor,
                $lightness: 5%
            );
        }
    }

    &.menu-folder-folded {
        .menu-folder-icon {
            transform: rotate(-90deg);
        }
    }

    .menu-folder-content-wrapper {
        transition: height $default-transition-duration ease-out;
        overflow: hidden;
    }

    .menu-folder-content > li {
        border-left: 3px solid
            color.scale($default-button-hover-bgcolor, $lightness: 40%);
    }
}
