/**
 * Used for index.html
 *
 */

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: .5em .8em;
    box-shadow: 0 1px 5px rgb(127 127 127 / 50%);
    user-select: none;
}

.header-left>div,
.header-right>div {
    padding: 6px;
    transition: all .3s;
    border-radius: 9px;
    cursor: default;
}

.header-left>div:hover,
.header-right>div:hover {
    box-shadow: 0 0 5px rgb(191 191 191 / 70%)
}

h1 {
    font-size: 2em;
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: "Times New Roman", Times, 思源宋体, "Source Han Serif", "Source Han Serif SC", sans-serif ;
}

article {
    text-align: center;
}