/**
 * Used for index.html
 *
 */

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 48px;
    padding: .5em .8em;
    box-shadow: 0 1px 5px rgb(127 127 127 / 50%);
}

.header-left {

}

.header-right {
}

h1 {
    font-size: 2em;
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: "Times New Roman", Times, 思源宋体, "Source Han Serif", "Source Han Serif SC", sans-serif ;
}