@use 'sass:color';

@import '../../styles/common'; // 共用样式

.bearui-banner {
    padding: 0.37em;
    margin: auto;
    font-weight: 500;

    .bearui-banner-inner {
        padding: 0.75em 0.85em;
    }

    .bearui-banner-source {
        text-indent: 2em;
    }

    &+& {
        margin-top: 0.625em;
    }

    &.bearui-banner-default {
        border: 2px solid color.scale($default-block-bdcolor, $lightness: 55%, $alpha: -47%);
        font-family: $default-serif-family;
        max-width: 94%;

        .bearui-banner-inner {
            box-shadow: inset 0 0 1em color.scale($default-blue-bgcolor, $alpha: -35%);
            border-radius: 0.35em;
        }
    }

    &.bearui-banner-header {
        border-width: 0 4px;
        border-style: solid;
        border-color: color.scale($default-block-bdcolor, $lightness: -25%, $alpha: -35%);
        background-color: color.scale($default-blue-bgcolor, $lightness: 27%, $alpha: -28%);
    }

    @at-root .bearui-banner-text {
        margin: 0 2em;
    }

    @at-root .bearui-banner-signature {
        text-align: right;
        font-size: 0.875em;
        font-family: monospace;
    }
}